{
  "id": "crate",
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "crate/crate:0.47.3",
      "privileged": true,
      "network": "HOST",
      "parameters": []
    },
    "volumes": [
      {
        "containerPath": "/tmp",
        "hostPath": "/tmp",
        "mode": "RO"
      },
      {
        "containerPath": "/data",
        "hostPath": "/data/crate",
        "mode": "RW"
      }
    ]
  },
  "instances": 2,
  "cpus": 0.4,
  "mem": 400,
  "uris": [],
  "cmd": "crate -Des.cluster.name=mesos-unicast -Des.zen.discovery.minimum_master_nodes=2",
  "env": {
    "CRATE_HOSTS": "{{database_peers_nodes}}",
    "CRATE_HEAP_SIZE": "200m"
  },
  "constraints": [
    [
      "hostname",
      "UNIQUE"
    ]
  ],
  "ports": []
}