{
  "zk": "zk://{{ zookeeper_peers_nodes }}/mesos",
  "masters": [{{ mesos_masters_peers_nodes }}],
  "refreshSeconds": 60,
  "ttl": 60,
  "domain": "mesos",
  "port": 53,
  "resolvers": ["8.8.8.8","8.8.4.4"],
  "timeout": 5,
  "email": "root.mesos-dns.mesos"
}